#timeline{
  position: relative;
  box-sizing: border-box;
  z-index: 5;
  min-height: 100vh;
  background: white;
  padding-left: 60px;
}

#timeline-content{
  overflow:scroll;
  height:100vh;
  .bgGround{
    height:calc(100% - 60px);
    position: relative;
    left:0;
  }
}



@import './slider.scss';
@import './cell.scss';
@import './date.scss';
@import './drag.scss';